*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f9f7fe;
    --branding-color: #6c63ff;
    --secondary-color: #272142;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
    color: var(--secondary-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
}

.navbar-brand {
    font-weight: bold;

}

.navbar-nav .nav-link.active {
    color: var(--branding-color);
}

.nav-item {
    margin-left: 15px;
    line-height: 25px;
    font-weight: bold;
}

/* =========
        Hero
    ========= */
.hero {
    background: var(--bg-color);
    text-align: center;
    padding: 180px 20px;
}

.hero p,
.hero h3 {
    font-size: 25px;
    font-weight: 400;
    opacity: 0.6;
}

.btn-branding {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    border-radius: 4px;
    background: var(--branding-color);
    padding: 18px 30px;
}

.btn-branding-outline {
    background: transparent;
    border: 2px solid var(--branding-color);
    color: var(--branding-color);
    padding: 18px 30px;
    border-radius: 4px;
    line-height: 27px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.project-description {
    padding: 100px 60px;
}

@media(max-width: 1200px) {
    .project-description {
        padding-top: 10px;
    }

    .project-description h2 {
        font-size: 46px;
    }
}

@media(max-width: 970px) {
    .project-description {
        padding: 0;
    }

    .project-description h2 {
        font-size: 40px;
    }
}

@media(max-width: 500px) {
    .hero {
  
    padding: 160px 30px;
}

.hero p,
.hero h3 {
    font-size: 20px;
 
}
    .hero h1{
        font-size: 56px;
    }
    .project-description {
        padding: 0 10px;
    }

    .project-description h2 {
        font-size: 36px;
    }
}

/*
       ============
        About-Page
       ============
     */
.about-section {
    padding: 160px 20px 0px;
}

.about-section h1 {
    font-size: 64px;
    font-weight: bold;
}

.about-section h2 {
    font-size: 18px;
    font-weight: bold;
}

.about-section p {
    font-size: 16px;
}

.about-content {
    /* border: 1px solid red; */
    margin: 30px;
}

@media(max-width: 1200px) {

    .about-content {
        margin: 15px;
    }

    .about-section h1 {
        font-size: 45px;
    }
}

@media(max-width:992px) {
    .about-content {
        margin: 10px 0;
    }

    .about-section h1 {
        font-size: 40px;
    }

    .btn-branding {
        font-size: 16px;
        padding: 18px 25px;
    }
}

@media(max-width: 767px) {
    .about-content {
        padding: 25px;
    }
}

@media(max-width: 576px) {
    body {
        overflow-x: hidden;
        text-align: center;
    }

    .about-content {
        padding: 25px;
    }

    img {
        width: 350px;
    }
}

/*
       ============
        Work-Page
       ============
     */
.project-content {
    padding: 160px 20px 0px;
}

.project-content h1 {
    text-align: center;
}

.project-content h3 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: bold;
}

.project-content p {
    font-family: var(--default-font-family);
    font-size: 14px;
}

@media(max-width: 992px) {
    .project-content h1 {
        font-size: 45px;
    }
}

@media(max-width: 576px) {
    .project-content h1 {
        font-size: 35px;
    }
}

/*
       ============
        Contact-Page
       ============
     */

.contact-content {
    padding: 160px 20px 0px;
}

@media (max-width: 767px) {
    .contact-content h1 {
        font-size: 56px;
    }
}

/*
       ============
          Footer
       ============
     */
     footer{
        /* border: 1px solid red; */
        margin: 60px 0;
     }
     footer h4{
        font-size: 48px;
        margin: 0;
     }
     @media(max-width: 992px) {
footer h4 {
        font-size: 28px;
    }
}
footer p{
    margin: 0;
}
     footer .email-link, .social-links{
text-decoration: none;
color: var(--secondary-color);
font-size: 24px;
font-weight: bold;

     }
         footer .email-link:hover{
            color: var(--branding-color);
         }
         footer .social-links a{
            margin: 0  20px;
            color: var(--branding-color);
            background: var(--bg-color);
          padding: 8px 14px;
            border-radius: 50%;
            transition: all 100ms ease-in-out;
         }
         footer .social-links a:hover{
            background: var(--branding-color);
            color: white;
         }
   